@media (prefers-reduced-motion: reduce) {
  svg {
    animation: none !important;
  }
}

@mixin carbon-animation--develop-icon {
  &:hover .pencil {
    animation: pencil 2.5s infinite cubic-bezier(0.4, 0.14, 0.3, 1);
  }
git checkout
  .pencil {
    transform-origin: 50% 50%;
    will-change: transform;
  }

  @keyframes pencil {
    10% {transform: translateX(10px)}
    20% {transform: translateX(0px)}
    100% {transform: translateX(0px)}
  }
}

@mixin carbon-animation-catalog-icon {
  &:hover .catalog--one {
    animation: catalog-one 2s forwards infinite cubic-bezier(0.4, 0.14, 0.3, 1);
  }
  &:hover .catalog--two {
   animation: catalog-two 2s forwards infinite cubic-bezier(0.4, 0.14, 0.3, 1);
  }
  &:hover .catalog--three {
    animation: catalog-three 2s forwards infinite cubic-bezier(0.4, 0.14, 0.3, 1);
  }
  &:hover .catalog--four {
    animation: catalog-four 2s forwards infinite cubic-bezier(0.4, 0.14, 0.3, 1);
  }

  @keyframes catalog-one {
    0% { opacity: 0 }
    10% { opacity: 0 }
    20% { opacity: 1 }
    100% { opacity: 1}
  }

  @keyframes catalog-two {
    0% { opacity: 0 }
    15% { opacity: 0 }
    25% { opacity: 1 }
    100% { opacity: 1}
  }

  @keyframes catalog-three {
    0% { opacity: 0 }
    20% { opacity: 0 }
    30% { opacity: 1 }
    100% { opacity: 1}
  }

  @keyframes catalog-four {
    0% { opacity: 0 }
    25% { opacity: 0 }
    35% { opacity: 1 }
    100% { opacity: 1 }
  }
}

@mixin carbon-animation--resources-icon {
  &:hover .file-cabinet-handle {
    animation: file-cabinet-handle 2s infinite cubic-bezier(0.4, 0.14, 0.3, 1);
  }

  .file-cabinet-handle {
    transform-origin: 50% 50%;
    will-change: transform;
  }

  @keyframes file-cabinet-handle {
    10% {transform: translateX(0)}
    20% {transform: translateX(-2px)}
    30% {transform: translateX(2px)}
    40% {transform: translateX(0)}
    100% {transform: translateX(0)}
  }
}


@mixin carbon-animation--settings-icon {
  .gear--outer {
    transform-origin: 50% 50%;
    transform: translate;
  }

  &:hover .gear--outer {
    animation: gear-spin 3s infinite cubic-bezier(0.4, 0.14, 0.3, 1);
  }

  @keyframes gear-spin {
    30% {transform: rotate(180deg)}
    100% {transform: rotate(180deg)}
  }
}

// @mixin carbon-animation--learn-icon {
//  .icon--learn {
//     will-change: transform;
//   }

//   &:hover .icon--learn {
//     animation: binoculars 3s infinite cubic-bezier(0.4, 0.14, 0.3, 1);
//   }

//   @keyframes binoculars {
//   9% {transform: rotate(-35deg)}
//   18% {transform: rotate(0)}
//   100% {transform: rotate(0deg)}
//   }
// }

@mixin carbon-animation--connect-icon {
  .connect--inner,
  .connect--outer {
    transform-origin: 50% 50%;
    will-change: transform;
  }

  &:hover .connect--inner {
    animation: connect-inner 1.5s forwards cubic-bezier(0.4, 0.14, 0.3, 1);
  }

  &:hover .connect--outer {
    animation: connect-outer 1.5s forwards cubic-bezier(0.4, 0.14, 0.3, 1);
  }

  @keyframes connect-inner {
    0% { opacity: 0}
    15% { opacity: 0}
    28% { opacity: 1}
    100% { opacity: 1}
  }

  @keyframes connect-outer {
    0% { opacity: 0}
    25% { opacity: 0}
    38% { opacity: 1}
    100% { opacity: 1}
  }
}

@mixin carbon-animation--download-icon {
  .arrow {
  	transform-origin: 50% 50%;
    will-change: transform;
  }

  &:hover .arrow {
    animation: arrow 3s infinite ease-out;
  }
  
  @keyframes arrow {
    8% {transform: translateY(-8px)}
    16% {transform: translateY(0px)}
    100% {transform: translateY(0px)}
  }
}

@mixin carbon-animation--analytics-icon {
  .circle {
    transform-origin: 50% 50%;
    will-change: transform;
  }

	&:hover .circle--one {
    animation: dot-one 2s forwards cubic-bezier(0.4, 0.14, 0.3, 1);
	}

	&:hover .circle--two {
	  animation: dot-two 2s forwards cubic-bezier(0.4, 0.14, 0.3, 1);
	}

	&:hover .circle--three {
	  animation: dot-three 2s forwards cubic-bezier(0.4, 0.14, 0.3, 1);
	}

	&:hover .circle--four {
	  animation: dot-four 2s forwards cubic-bezier(0.4, 0.14, 0.3, 1);
	}

	&:hover .circle--five {
  	animation: dot-five 2s forwards cubic-bezier(0.4, 0.14, 0.3, 1);
	}
	
	@keyframes dot-one {
    0% { opacity: 0}
    10% { opacity: 0}
    20% { opacity: 1}
    100% { opacity: 1}
	}

  @keyframes dot-two {
    0% { opacity: 0}
    15% { opacity: 0}
    25% { opacity: 1}
    100% { opacity: 1}
  }

  @keyframes dot-three {
    0% { opacity: 0}
    20% { opacity: 0}
    30% { opacity: 1}
    100% { opacity: 1}
  }

  @keyframes dot-four {
    0% { opacity: 0}
    25% { opacity: 0}
    35% { opacity: 1}
    100% { opacity: 1}
  }

  @keyframes dot-five {
    0% { opacity: 0}
    30% { opacity: 0}
    40% { opacity: 1}
    100% { opacity: 1}
  }
}

@mixin carbon-animation--education-icon {
	.tassel {
	  will-change: transform;
	 transform-origin: 4px 4px;
	}

	&:hover .tassel {
	  animation: .75s tassel .25s;
	}

	@keyframes tassel {
	  33% { transform: rotate(10deg)}
	  66% { transform: rotate(-8deg)}
	  100% { transform: rotate(0)}
	}
}

.Custom {
  @include carbon-animation--develop-icon;
  @include carbon-animation-catalog-icon;
  @include carbon-animation--resources-icon;
  @include carbon-animation--settings-icon;
  // @include carbon-animation--learn-icon;
  @include carbon-animation--connect-icon;
  @include carbon-animation--download-icon;
  @include carbon-animation--analytics-icon;
  @include carbon-animation--education-icon;

}