@media (prefers-reduced-motion: reduce) {
  svg {
    animation: none !important;
  }
}

// edit
@mixin carbon-animation--edit-icon {
  // create horizontal space around the icon so the pencil movement doesn't get cropped
  .icon--edit {
    width: 44px;
    height: 32px;
  }

  .pencil {
    will-change: transform;
  }

  &:hover .pencil {
    animation: pencil 2.5s infinite cubic-bezier(0.4, 0.14, 0.3, 1);
  }
  
  .pencil {
    transform-origin: 50% 50%;
    will-change: transform;
  }

  @keyframes pencil {
    10% {transform: translateX(10px)}
    20% {transform: translateX(0px)}
    100% {transform: translateX(0px)}
  }
 }

// grid
 @mixin carbon-animation-grid-icon {
  .box--one,
  .box--two,
  .box--three,
  .box--four {
    will-change: opacity;
  }

  &:hover .box--one {
    animation: box-one 2s forwards infinite cubic-bezier(0.4, 0.14, 0.3, 1);
  }
  &:hover .box--two {
   animation: box-two 2s forwards infinite cubic-bezier(0.4, 0.14, 0.3, 1);
  }
  &:hover .box--three {
    animation: box-three 2s forwards infinite cubic-bezier(0.4, 0.14, 0.3, 1);
  }
  &:hover .box--four {
    animation: box-four 2s forwards infinite cubic-bezier(0.4, 0.14, 0.3, 1);
  }

  @keyframes box-one {
    0% { opacity: 0 }
    10% { opacity: 0 }
    20% { opacity: 1 }
    100% { opacity: 1}
  }

  @keyframes box-two {
    0% { opacity: 0 }
    15% { opacity: 0 }
    25% { opacity: 1 }
    100% { opacity: 1}
  }

  @keyframes box-three {
    0% { opacity: 0 }
    20% { opacity: 0 }
    30% { opacity: 1 }
    100% { opacity: 1}
  }

  @keyframes box-four {
    0% { opacity: 0 }
    25% { opacity: 0 }
    35% { opacity: 1 }
    100% { opacity: 1 }
  }
 }


// archive
 @mixin carbon-animation--archive-icon {
  .file-cabinet-handle {
    transform-origin: 50% 50%;
    will-change: transform;
  }

  &:hover .file-cabinet-handle {
    animation: file-cabinet-handle 2s infinite cubic-bezier(0.4, 0.14, 0.3, 1);
  }

  @keyframes file-cabinet-handle {
    10% {transform: translateX(0)}
    20% {transform: translateX(-2px)}
    30% {transform: translateX(2px)}
    40% {transform: translateX(0)}
    100% {transform: translateX(0)}
  }
}

// settings
@mixin carbon-animation--settings-icon {
  .gear--outer {
    transform-origin: 50% 50%;
    will-change: transform;
  }

  &:hover .gear--outer {
    animation: outer-gear 3s infinite cubic-bezier(0.4, 0.14, 0.3, 1);
  }

  @keyframes outer-gear {
    30% {transform: rotate(180deg)}
    100% {transform: rotate(180deg)}
  }
}

// education
@mixin carbon-animation--education-icon {
  .tassel {
   will-change: transform;
  transform-origin: 4px 4px;
 }

 &:hover .tassel {
   animation: .75s tassel .25s;
 }

 @keyframes tassel {
   33% { transform: rotate(10deg)}
   66% { transform: rotate(-8deg)}
   100% { transform: rotate(0)}
 }
}

// connection-signal
@mixin carbon-animation--connection-signal-icon {
.connect--inner,
.connect--outer {
    transform-origin: 50% 50%;
    will-change: transform;
  }


  &:hover .connect--inner {
    animation: inner-signal 1.5s forwards cubic-bezier(0.4, 0.14, 0.3, 1);
  }

  &:hover .connect--outer {
    animation: outer-signal 1.5s forwards cubic-bezier(0.4, 0.14, 0.3, 1);
  }

  @keyframes inner-signal {
    0% { opacity: 0}
    15% { opacity: 0}
    28% { opacity: 1}
    100% { opacity: 1}
  }

  @keyframes outer-signal {
    0% { opacity: 0}
    25% { opacity: 0}
    38% { opacity: 1}
    100% { opacity: 1}
  }
}

// download
 @mixin carbon-animation--download-icon {
  // create vertical space around the icon so the arrow animation doesn't get cropped; 

  .icon--download {
    height: 40px;
    margin-top: -6px;
    transform: translateY(3px)
    // NOTE also there is a change to the viewbox on svg
  }

  .arrow {
    transform-origin: 50% 50%;
    will-change: transform;
  }

  &:hover .arrow {
    animation: arrow 3s infinite ease-out;
  }
  
  @keyframes arrow {
    8% {transform: translateY(-8px)}
    16% {transform: translateY(0px)}
    100% {transform: translateY(0px)}
  }
}

// chart--scatter
@mixin carbon-animation--analytics-icon {
  .dot--one,
  .dot--two,
  .dot--three,
  .dot--four {
    transform-origin: 50% 50%;
    will-change: transform;
    transition: 0.2s all;
  }

  &:hover .dot--one {
    animation: dot-one 2s forwards cubic-bezier(0.4, 0.14, 0.3, 1);
  }

  &:hover .dot--two {
    animation: dot-two 2s forwards cubic-bezier(0.4, 0.14, 0.3, 1);
  }

  &:hover .dot--three {
    animation: dot-three 2s forwards cubic-bezier(0.4, 0.14, 0.3, 1);
  }

  &:hover .dot--four {
    animation: dot-four 2s forwards cubic-bezier(0.4, 0.14, 0.3, 1);
  }

  &:hover .dot--five {
    animation: dot-five 2s forwards cubic-bezier(0.4, 0.14, 0.3, 1);
  }
  
  @keyframes dot-one {
    0% { opacity: 0}
    10% { opacity: 0}
    20% { opacity: 1}
    100% { opacity: 1}
  }

  @keyframes dot-two {
    0% { opacity: 0}
    15% { opacity: 0}
    25% { opacity: 1}
    100% { opacity: 1}
  }

  @keyframes dot-three {
    0% { opacity: 0}
    20% { opacity: 0}
    30% { opacity: 1}
    100% { opacity: 1}
  }

  @keyframes dot-four {
    0% { opacity: 0}
    25% { opacity: 0}
    35% { opacity: 1}
    100% { opacity: 1}
  }

  @keyframes dot-five {
    0% { opacity: 0}
    30% { opacity: 0}
    40% { opacity: 1}
    100% { opacity: 1}
  }
 }

// For demo purposes only, when the user clicks the "Custom" button, the ".Custom" class gets applied to every tile.  
// For the icon package, there could be a separate class for each mixin 
// Then users of the package could apply the corresponding class to the tile (or other element) which would trigger the animation on hover

.Custom {
  @include carbon-animation--edit-icon;
  @include carbon-animation-grid-icon;
  @include carbon-animation--archive-icon;
  @include carbon-animation--settings-icon;
  @include carbon-animation--connection-signal-icon;
  @include carbon-animation--download-icon;
  @include carbon-animation--analytics-icon;
  @include carbon-animation--education-icon;
}